// /* CSS HEX */
// --rich-black: #001c29ff;
// --neon-blue: #0062ffff;
// --honolulu-blue: #0075abff;
// --erin: #00ff33ff;
// --emerald: #20cb72ff;
// --red-cmyk: #dd0000ff;
// --silver: #cececeff;

// /* CSS HSL */
// --rich-black: hsla(199, 100%, 8%, 1);
// --neon-blue: hsla(217, 100%, 50%, 1);
// --honolulu-blue: hsla(199, 100%, 34%, 1);
// --erin: hsla(132, 100%, 50%, 1);
// --emerald: hsla(149, 73%, 46%, 1);
// --red-cmyk: hsla(0, 100%, 43%, 1);
// --silver: hsla(0, 0%, 81%, 1);

// /* SCSS HEX */
// $rich-black: #001c29ff;
// $neon-blue: #0062ffff;
// $honolulu-blue: #0075abff;
// $erin: #00ff33ff;
// $emerald: #20cb72ff;
// $red-cmyk: #dd0000ff;
// $silver: #cececeff;

// /* SCSS HSL */
// $rich-black: hsla(199, 100%, 8%, 1);
// $neon-blue: hsla(217, 100%, 50%, 1);
// $honolulu-blue: hsla(199, 100%, 34%, 1);
// $erin: hsla(132, 100%, 50%, 1);
// $emerald: hsla(149, 73%, 46%, 1);
// $red-cmyk: hsla(0, 100%, 43%, 1);
// $silver: hsla(0, 0%, 81%, 1);

// /* SCSS RGB */
// $rich-black: rgba(0, 28, 41, 1);
// $neon-blue: rgba(0, 98, 255, 1);
// $honolulu-blue: rgba(0, 117, 171, 1);
// $erin: rgba(0, 255, 51, 1);
// $emerald: rgba(32, 203, 114, 1);
// $red-cmyk: rgba(221, 0, 0, 1);
// $silver: rgba(206, 206, 206, 1);

// /* SCSS Gradient */
// $gradient-top: linear-gradient(0deg, #001c29ff, #0062ffff, #0075abff, #00ff33ff, #20cb72ff, #dd0000ff, #cececeff);
// $gradient-right: linear-gradient(90deg, #001c29ff, #0062ffff, #0075abff, #00ff33ff, #20cb72ff, #dd0000ff, #cececeff);
// $gradient-bottom: linear-gradient(180deg, #001c29ff, #0062ffff, #0075abff, #00ff33ff, #20cb72ff, #dd0000ff, #cececeff);
// $gradient-left: linear-gradient(270deg, #001c29ff, #0062ffff, #0075abff, #00ff33ff, #20cb72ff, #dd0000ff, #cececeff);
// $gradient-top-right: linear-gradient(45deg, #001c29ff, #0062ffff, #0075abff, #00ff33ff, #20cb72ff, #dd0000ff, #cececeff);
// $gradient-bottom-right: linear-gradient(135deg, #001c29ff, #0062ffff, #0075abff, #00ff33ff, #20cb72ff, #dd0000ff, #cececeff);
// $gradient-top-left: linear-gradient(225deg, #001c29ff, #0062ffff, #0075abff, #00ff33ff, #20cb72ff, #dd0000ff, #cececeff);
// $gradient-bottom-left: linear-gradient(315deg, #001c29ff, #0062ffff, #0075abff, #00ff33ff, #20cb72ff, #dd0000ff, #cececeff);
// $gradient-radial: radial-gradient(#001c29ff, #0062ffff, #0075abff, #00ff33ff, #20cb72ff, #dd0000ff, #cececeff);

// primary colors
$cp-richBlack:#001c29ff;
$cp-dark-blue: rgb(0, 29, 73);
$cp-neonBlue: #0062ffff;
$cp-honoluluBlue: #0075abff;
$cp-erin: #00ff33ff;
$cp-dark-shamrockGreen: #016732;
$cp-shamrockGreen: #07964c;
$cp-emerald: #20cb72ff;
$cp-redCmyk: #dd0000ff;
$cp-silver: #cececeff;
$cp-darkGrey:rgb(111, 110, 110);
$cp-grey: #898989;
$cp-lightGrey: #b9b9b9;

// font colors
$cf-richBlack:#001c29ff;
$cf-dark-blue: #001d49;
$cf-silver: #cececeff;
$cf-neonBlue: #0062ffff;
$cf-honoluluBlue: #0075abff;
$cf-erin: #00ff33ff;
$cf-shamrockGreen: #07964c;
$cf-dark-shamrockGreen: #016732;
$cf-emerald: #20cb72ff;
$cf-grey: #898989;
$cf-lightGrey: #b9b9b9;

// font-size
$fs-heading-large: 3.2rem;
$fs-heading-medium: 2.7rem;
$fs-heading-small: 2.2rem;
$fs-paragraph-large: 1.8rem;
$fs-paragraph-medium: 1.6rem;
$fs-paragraph-small: 1.4rem;
$fs-btn-large: 2rem;
$fs-btn-medium: 1.8rem;
$fs-btn-small: 1.6rem;

// border-radius
$br-large: .25rem;
$br-medium: .5rem;
$br-small: 1rem;
$br-cirle: 10000px;

// box-shadow
$bs-dark: 0 0 12px 3px rgba(22, 22, 22, .35);
$bs-btn: 0px 0px 12px 1px rgba(12, 12, 12, .25);
$bs-btnHover: 0px 3px 7px 3px rgba(0, 0, 0, .75);

// margin
$m-large: 5rem;
$m-medium: 2.5rem;
$m-small: 1rem;

// padding
$p-large: 5rem;
$p-medium: 2.5rem;
$p-small: 1rem;

//iconSize
$contactDetailIconSizeWidth: 3.25rem;
$contactDetailIconSizeHeight: 3.25rem;





