.contact {
      @include displayFlexColumn;
      width: min(100%, 45rem);
      margin: 0 auto 5rem;
      &__sectionContentWrapper {
            @include displayFlexColumn;
      }
      &__contactArticle {
            @include displayFlexColumn;
            gap: .5rem;
      }
      &__contactDetailItem {
            @include displayFlexRow;
            gap: .75rem;
      }
      &__contactDetailIcon {
            width: $contactDetailIconSizeWidth;
            height: $contactDetailIconSizeHeight;
      }
      &__contactDetailIcon--address {
            width: calc(#{$contactDetailIconSizeWidth} - .5rem);
            height: calc(#{$contactDetailIconSizeHeight} - .5rem);
      }
}