.footer {
      @include displayFlexColumn;
      gap: 3rem;
      background: linear-gradient(135deg, rgba($cp-dark-blue, .65), rgba($cp-darkGrey, .5), rgba($cp-grey, .3), rgba($cp-lightGrey, 1), rgba($cp-darkGrey, .5), rgba($cp-dark-blue, .64));
      border-top: 2px solid $cp-dark-blue;
      width: 100%;
      padding: 5rem 1rem 1rem;
      @include respond(tab-land) {
            gap: 5rem;
      }
      &__figureAndNavContainer {
            @include displayFlexColumn;
            gap: 3rem;
            width: min(100, 45rem);
            @include respond(tab-port) {
                  width: min(100%, 55rem);
            }
            @include respond(tab-land) {
                  align-items: flex-start;
                  gap: 5rem;
                  width: min(100%, 75rem);
                  padding: 1rem 5rem;
            }
            @include respond(desk) {
                  width: min(100%, 100rem);
            }
      }
      &__figure {
            @include displayFlexColumn;
            @include respond(tab-port) {
                  @include displayFlexRow;
                  gap: 3rem;
            }
      }
      &__logoImg {
            display: flex;
            order: 2px solid $cp-erin;
            border-radius: $br-cirle;
            box-shadow: -3px 3px 25px 1px rgba($cp-richBlack, 1);
            width: 20rem;
            height: auto;
            @include respond(tab-port) {
                  width: clamp(10rem, 18vw, 14rem);
            }
      }
      &__footerNavigationContainer {
            @include displayFlexColumn;
            gap: 2rem;
            width: 100%;
            @include respond(tab-land) {
                  @include displayFlexRow;
                  justify-content: space-between;
                  align-items: flex-start;
                  gap: 1rem;
            }
      }
      &__navVerticalLine {
            display: none;
            @include respond(tab-land) {
                  align-self: center;
                  display: block;
                  background-color: rgba($cp-dark-blue, .15);
                  width: 2px;
                  height: 15rem;
            }
      }
      &__footerSocialMediaContainer, &__footerWebsiteNavigationContainer, &__footerAddressContainer, &__footerLegalNoticeContainer {
            @include displayFlexColumn;
            gap: 1rem;
      }
      @include respond(tab-land) {
            &__footerSocialMediaContainer, &__footerWebsiteNavigationContainer, &__footerLegalNoticeContainer {
                  align-items: flex-start;
            }
      }
      &__footerAddressContainer {
            gap: 1.75rem;
            width: min(100, 45rem);
            @include respond(tab-port) {
                  width: min(100%, 55rem);
            }
            @include respond(tab-land) {
                  align-items: flex-start;
                  gap: 2rem;
                  width: min(100%, 75rem);
                  padding: 1rem 5rem;
            }
            @include respond(desk) {
                  width: min(100%, 100rem);
            }
      }
      &__footerContactDetailContainer {
            width: 100%;
            @include respond(tab-land) {
                  @include displayFlexRow;
                  justify-content: space-between;
                  align-items: flex-start;
                  gap:2rem;
            
            }
      }
      &__footerContactDetailItem {
            @include displayFlexColumn;
            gap: 0rem;
            @include respond(tab-land) {
                  align-items: flex-start;
                  flex: 0 0 300px;
            }
      }
      &__footerContactDetailItem--number {
            @include displayFlexColumn;
            gap: 0rem;
            @include respond(tab-land) {
                  align-items: flex-start;
                  flex: 0 0 100px;
            }
      }
      &__footerContactDetailLink {
            @include displayFlexRow;
            gap: .5rem;
            @include respond(tab-land) {
                  align-items: flex-start;
            
            }
      }
      #footerMobileContactLink {
            margin-right: 2rem;
      }
      &__footerContactDetailIcon {
            display: block;
            width: 3.2rem;
            height: 2.3rem;
      }
      &__footerSocialMediaList {
            @include displayFlexRow;
            gap: 3rem;
      }
      &__footerNavlist {
            @include displayFlexColumn;
            gap: .25rem;
            @include respond(tab-land) {
                  align-items: flex-start;
            }           
      }
      // &__footerNavlist--website {
      //       @include displayFlexColumn;
      //       gap: .25rem;
      //       @include respond(tab-port) {
      //             @include displayFlexRow;
      //             flex-wrap: wrap;
      //             justify-content: flex-start;
      //       }
      // }
      // &__footerNavitem--website {
      //       @include respond(tab-port) {
      //             flex: 1 0 200px;
      //       }
      // }
      &__footerDeveloperParagraph {
            @include displayFlexColumn;
            gap: 0rem;
            margin-top: 1rem;
      }
}