.footer {
      @include displayFlexColumn;
      gap: 2rem;
      background: linear-gradient(180deg, rgba($cp-grey, 1), rgba($cp-lightGrey, .5), rgba($cp-lightGrey, .6));
      border-top: 2px solid $cp-dark-blue;
      padding: 5rem 1rem 1rem;
      &__figure {
            @include displayFlexColumn;
      }
      &__logoImg {
            display: flex;
            order: 2px solid $cp-erin;
            border-radius: $br-cirle;
            width: 20rem;
            height: auto;
      }
      &__footerNavigationContainer {
            @include displayFlexColumn;
            gap: 2rem;
      }
      &__footerSocialMediaContainer, &__footerWebsiteNavigationContainer, &__footerAddressContainer, &__footerLegalNoticeContainer {
            @include displayFlexColumn;
            gap: 1rem;
      }
      &__footerAddressContainer {
            gap: 1.75rem;
      }
      &__footerContactDetailItem {
            @include displayFlexColumn;
            gap: 0rem;
      }
      &__footerContactDetailLink {
            @include displayFlexRow;
            gap: .5rem;
      }
      #footerMobileContactLink {
            margin-right: 2rem;
      }
      &__footerContactDetailIcon {
            display: block;
            width: 3.2rem;
            height: 2.3rem;
      }
      &__footerSocialMediaList {
            @include displayFlexRow;
            gap: 3rem;
      }
      &__footerNavlist {
            @include displayFlexColumn;
            gap: .25rem;
      }
      &__footerDeveloperParagraph {
            @include displayFlexColumn;
            gap: 0rem;
            margin-top: 1rem;
      }
}