.header { 
      padding: 2rem 0 0;
      margin-bottom: 5rem;
}
.hero {
      @include displayFlexColumn;
      width: min(100%, 45rem);
      min-height: 95vh;
      padding: 1rem;
      margin: 0 auto;
      &__heroCtaContainer {
            @include displayFlexColumn;
      }
      &__heroHeading {
            @include displayFlexColumn;
            gap: .75rem;
      }
      &__heroCredentialsContainer {
            @include displayFlexColumn;
            border: 2px solid $cp-shamrockGreen;
            box-shadow: 0 0 12px 2px rgba($cp-richBlack, .25);
            padding: 2rem;
      }
      &__figureContainer {
            @include displayFlexRow;
      }
      &__figure {
            @include displayFlexColumn;
            gap: .25rem;
            box-shadow: 2px 2px 3px 1px rgba($cp-richBlack, .25);
            padding: .5rem;
      }
      &__figcaption {
            display: none;
      }
      &__heroFigureImg {
            display: block;
            width: 8rem;
            height: auto;
      }
}
.heroHeadingPrimary {
      @include displayFlexColumn;
      gap: 1rem;
      &__heroHeadingPrimaryLogoImg {
            display: block;
            width: clamp(18rem, 22vw, 24rem);
            height: auto;
      }
      &__heroHeadingPrimaryText {
            width: clamp(19rem, 50vw, 23rem);
      }
}