main {
}
.about {
      @include displayFlexColumn;
      width: min(100%, 45rem);
      padding: 0 1rem;
      margin: 0 auto 5rem; 
      position: relative;
      @include respond(tab-port) {
            width: min(100%, 55rem);
      }
      @include respond(tab-land) {
            align-items: flex-start;
            width: min(100%, 75rem);
            padding: 0 5rem;
      }
      @include respond(desk) {
            width: min(100%, 100rem);
      }
      &__figure {
            @include displayFlexColumn;
            @include respond(tab-land) {
                  @include displayFlexRow;
                  align-items: flex-start;
                  gap: 3rem;
            }
      }
      &__figureImg {
            display: block;
            border: 2px solid $cp-dark-blue;
            background: linear-gradient(140deg, rgba($cp-dark-blue, .45), rgba($cp-dark-blue, .65), rgba($cp-dark-blue, .85));
            box-shadow: 0 0 12px 2px rgba($cp-richBlack, .35);
            width: 25rem;
            height: auto;  
      }
      .paragraph--aboutOwner {
            margin-top: .75rem;
      }
}
.services {
      @include displayFlexColumn;
      width: min(100%, 45rem);
      @include respond(tab-port) {
            width: min(100%, 55rem);
      }
      @include respond(tab-land) {
            align-items: flex-start;
            width: min(100%, 75rem);
            padding: 0 5rem;
      }
      @include respond(desk) {
            width: min(100%, 100rem);
      }
      padding: 0 1rem;
      margin: 0 auto 5rem;
      position: relative;
      &__sectionContentWrapper {
            @include displayFlexColumn;
            gap: 2rem;
            @include respond(tab-land) {
                  align-items: flex-start;
            }
      }
      &__servicesList {
            @include displayFlexColumn;
            @include respond(tab-land) {
                  @include displayFlexRow;
                  align-items: stretch;
                  flex-wrap: wrap;
            }
      }
      &__servicesListItem {
            @include displayFlexColumn;
            align-items: flex-start;
            gap: .5rem;
            background: linear-gradient(135deg, rgba($cp-silver, 1), rgba($cp-grey, .5), rgba($cp-grey, .95));
            border: 2px solid $cp-shamrockGreen;
            border-radius: none;
            box-shadow: $bs-dark;
            padding: 2rem;
            @include respond(tab-land) {
                  justify-content: flex-start;
                  align-items: flex-start;
                  row-gap: 2rem;
                  flex: 1 0 350px;
                  min-height: 270px;
                  
            }
            @include respond(desk) {
                  flex: 1 0 450px;
                  min-height: 260px;
            }
      }
      &__articleContentWrapper {
            @include displayFlexColumn;
            @include respond(tab-land) {
                  @include displayFlexRow;
                  align-items: flex-start;
                  gap: 5rem;
            }
      }
      &__servicesImageAndIntroContainer {
            @include displayFlexColumn;
            @include respond(tab-land) {
                  flex: 1 0 55%;
            }
      }
      &__servicesCtaContainer {
            @include displayFlexColumn;
      }
      &__servicesArticle {
            @include displayFlexColumn;
            gap: 1.5rem;
      }
      &__servicesArticle--serviceArea {
            @include displayFlexColumn;
            gap: 2rem;
            @include respond(tab-land) {
                  align-items: flex-start;
            }
      }
      &__servicesArticleAreasListContainer {
            @include displayFlexColumn;
            align-items: flex-start;
            gap: .5rem;
            background: linear-gradient(135deg, rgba($cp-silver, 1), rgba($cp-grey, .5), rgba($cp-grey, .95));
            border: 2px solid $cp-shamrockGreen;
            border-radius: none;
            box-shadow: $bs-dark;
            width: 100%;
            padding: 2rem;
      }
      &__serviceArticleImage {
            display: block;
            border: 2px solid $cp-shamrockGreen;
            width: 100%;
            height: auto;
            padding: .25rem;

      }
      &__servicesDetailItem {
            margin-top: 2rem;
            @include respond(tab-land) {
                  @include displayFlexColumn;
                  align-items: flex-start;
            }
      }
}
.process {
      @include displayFlexColumn;
      width: min(100%, 45rem);
      @include respond(tab-port) {
            width: min(100%, 55rem);
      }
      @include respond(tab-land) {
            align-items: flex-start;
            width: min(100%, 75rem);
            padding: 0 5rem;
      }
      @include respond(desk) {
            width: min(100%, 100rem);
      }
      padding: 0 1rem;
      margin: 0 auto 5rem;
      position: relative;
      &__sectionContentWrapper {
            @include displayFlexColumn;
            gap: 2rem;
            @include respond(tab-land) {
                  // align-items: flex-start;
            }
      }
      &__processList {
            @include displayFlexColumn;
            @include respond(tab-land) {
                  @include displayFlexRow;
                  align-items: stretch;
                  flex-wrap: wrap;
            }
      }
      &__processListItem {
            @include displayFlexColumn;
            gap: .5rem;
            background: linear-gradient(135deg, rgba($cp-silver, 1), rgba($cp-grey, .5), rgba($cp-grey, .95));
            border: 2px solid $cp-shamrockGreen;
            box-shadow: $bs-dark;
            width: 100%;
            padding: 2rem;
            @include respond(tab-land) {
                  align-items: flex-start;
                  flex: 1 0 350px;
            }
      }
      &__servicesArticle {
            @include displayFlexColumn;
            gap: 1.5rem;
      }
      &__servicesArticle--serviceArea {
            @include displayFlexColumn;
            gap: 2rem;
      }
      &__servicesArticleAreasListContainer {
            @include displayFlexColumn;
            align-items: flex-start;
            gap: .5rem;
            background-color: $cp-lightGrey;
            border: 2px solid $cp-neonBlue;
            border-radius: none;
            box-shadow: $bs-dark;
            width: 100%;
            padding: 2rem;
      }
      &__serviceArticleImage {
            display: block;
            border: 2px solid $cp-neonBlue;
            width: 100%;
            height: auto;
            padding: .25rem;
      }    
}
