// style button
.btn {  
      border: 2px solid $cp-grey;
      border-radius: .45rem;
      box-shadow: $bs-btn;
      width: fit-content;
      padding: .60em .85em;
      margin: 0 auto;
      cursor: pointer;
      backface-visibility: hidden;
      transition: all .2s;
      &:link, &:visited {
          text-decoration: none;
          transform: translateY(0px);
      }
      &:active {
          border-bottom: 2px solid $cp-richBlack;
          border-right: 2px solid $cp-richBlack;
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .7);
          transform: translateY(-1px);
      }
      &--primary {
          background-color: $cp-dark-blue;
      }
      &--secondary {
          background-color: transparent;
          border: 2px solid $cp-dark-blue;
      }  
  }