	// H1 Heading
	// font-family: "Montserrat", sans-serif; font-weight: 900;
	
	// H2 Headings
	// font-family: "Days One", sans-serif;  font-weight: 400;
	
	// H3, H4 & Body Text
	// font-family: "Lato", sans-serif; font-weight: 400; 700 & 900;
	
body {
	color: $cf-richBlack;
	font-family: "Lato", sans-serif;
	font-size: clamp(1.4rem, 4.5vw, 1.6rem);
	font-weight: 500;
	line-height: 1.6;
	text-align: center;
}
.heroHeading {
	color: $cp-richBlack;
	font-family: "Montserrat", sans-serif; 
	font-size: clamp(1.8rem, 5vw, 2.4rem);
	font-weight: 900;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2;
      &__heroHeadingByline {
		font-family: "Lato", sans-serif; 
		font-size: clamp(1.4rem, 5.5vw, 1.8rem);
		font-weight: 700;
		text-align: center;
		text-transform: none;
		line-height: 1.4;
	}
}
.headingH2 {
	color: $cf-richBlack;
	font-family: "Days One", sans-serif;  
	font-size: clamp(2.2rem, 6.5vw, 2.4rem);
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 3px;
}
.headingH3 {
	color: $cf-richBlack;
	font-family: "Lato", sans-serif; 
	font-size: clamp(1.8rem, 6vw, 2rem);
	font-weight: 900;
	line-height: 1.2;
	letter-spacing: 3px;
	&--servicesListItemHeading {
		color: $cf-neonBlue;
		font-size: clamp(1.5rem, 5vw, 1.7rem);
		text-align: left;
		line-height: 1.1;
	}
	&--processListItemHeading {
		color: $cf-neonBlue;
		font-size: clamp(1.5rem, 5vw, 1.7rem);
		text-align: center;
		line-height: 1.1;
	}
}
.headingH4 {
	color: $cf-richBlack;
	font-family: "Lato", sans-serif; 
	font-size: clamp(1.8rem, 6vw, 2rem);
	font-weight: 900;
	line-height: 1.2;
	letter-spacing: 3px;
	&--serviceAreasHeading {
		color: $cf-neonBlue;
		font-size: clamp(1.5rem, 5vw, 1.7rem);
		text-align: left;
		line-height: 1.1;

	}
}
.paragraph {
	line-height: 1.6;
	&--servicesListItemParagraph {
		text-align: left;
		line-height: 1.2;
	}
	&--serviceAreaName {
		text-align: left;
	}
	&__serviceAreaName--nylstroom, &__serviceAreaName--warmbad, &__serviceAreaName--vaalwater, &__serviceAreaName--naboom, &__serviceAreaName--leeupoort {
		color: $cp-richBlack;
		font-weight: 900;
	} 
	&--contactArticle {
		color: $cf-neonBlue;
		font-weight: 700;
		text-decoration: underline;
		text-underline-offset: 2px;
	}
	&--footerDeveloper {
		color: $cf-silver;
		font-size: clamp(1.2rem, 4.3vw, 1.4rem);
	}
}
.btn {
	&--primary {
		color: $cf-silver;
		font-family: "Lato", sans-serif; 
		font-size: clamp(1.6rem, 5vw, 1.8rem);
		font-weight: 700;
	}
	&--secondary {
		color: $cf-silver;
		font-family: "Lato", sans-serif; 
		font-size: clamp(1.6rem, 5vw, 1.8rem);
		font-weight: 700;
	}
}
.navlink {
	&--footerNavlink {
		color: $cf-emerald;
		text-decoration: underline;
		text-underline-offset: 3px;
	}
}
.contact {
	font-style: normal;
}