	// H1 Heading
	// font-family: "Montserrat", sans-serif; font-weight: 900;
	
	// H2 Headings
	// font-family: "Days One", sans-serif;  font-weight: 400;
	
	// H3, H4 & Body Text
	// font-family: "Lato", sans-serif; font-weight: 400; 700 & 900;
	
body {
	color: $cf-richBlack;
	font-family: "Lato", sans-serif;
	font-size: clamp(1.4rem, 4.5vw, 1.6rem);
	font-weight: 500;
	line-height: 1.6;
	text-align: center;
}

.headingH3 {
	color: $cf-shamrockGreen;
	font-family: "Lato", sans-serif; 
	font-weight: 900;
	line-height: 1.2;
	letter-spacing: 3px;
}

.paragraph {
	line-height: 1.2;
	&--contactArticle {
		color: $cf-neonBlue;
		font-weight: 700;
		text-decoration: underline;
		text-underline-offset: 2px;
	}
	&--footerDeveloper {
		color: $cf-silver;
		font-size: clamp(1.2rem, 4.3vw, 1.4rem);
	}
}

.navlink {
	&--footerNavlink {
		color: $cf-emerald;
		text-decoration: underline;
		text-underline-offset: 3px;
	}
}
.contact {
	font-style: normal;
}