	// H1 Heading
	// font-family: "Montserrat", sans-serif; font-weight: 900;
	
	// H2 Headings
	// font-family: "Days One", sans-serif;  font-weight: 400;
	
	// H3, H4 & Body Text
	// font-family: "Lato", sans-serif; font-weight: 400; 700 & 900;
	
body {
	color: $cf-richBlack;
	font-family: "Lato", sans-serif;
	font-size: clamp(1.4rem, 4.5vw, 1.6rem);
	font-weight: 500;
	line-height: 1.6;
	text-align: center;
	@include respond(tab-land) {
		text-align: justify;
	}
}
.heroHeading {
	color: $cp-dark-blue;
	font-family: "Montserrat", sans-serif; 
	font-size: clamp(2rem, 6.5vw, 2.4rem);
	font-weight: 900;
	text-align: center;
	text-shadow: 1px 1px 1px rgba($cp-shamrockGreen, 1);
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2;
	@include respond(tab-port) {
		font-size: clamp(2.4rem, 4.5vw, 3.5rem);
	}
	@include respond(tab-land) {
		font-size: clamp(2rem, 6.5vw, 2.4rem);
		text-align: justify;
	}
      &__heroHeadingByline {
		font-family: "Lato", sans-serif; 
		font-size: clamp(1.4rem, 4.5vw, 1.6rem);
		font-weight: 700;
		text-align: center;
		text-shadow: none;
		text-transform: none;
		line-height: 1.2;
		@include respond(tab-land) {
			text-align: justify;
		}
	}
}
.headingH2 {
	color: $cf-dark-blue;
	font-family: "Days One", sans-serif;  
	font-size: clamp(2rem, 6.5vw, 2.4rem);
	font-weight: 900;
	text-shadow: 1px 1px 1px rgba($cf-honoluluBlue, 1);
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 3px;
	@include respond(tab-land) {
		text-align: justify;
	}
}
.headingH3 {
	color: $cf-dark-shamrockGreen;
	font-family: "Lato", sans-serif; 
	font-size: clamp(1.8rem, 5.5vw, 2rem);
	font-weight: 900;
	line-height: 1.2;
	letter-spacing: 3px;
	&--heroCredentials {
		color: $cf-dark-shamrockGreen;
		letter-spacing: 1px;
		text-decoration: underline;
		text-underline-offset: 3px;
	}
	&--aboutOwner {
		color: $cf-dark-blue;
		letter-spacing: 2px;
		text-decoration: underline;
		text-underline-offset: 3px;
	}
	&--servicesListItemHeading {
		color: $cf-dark-shamrockGreen;
		font-size: clamp(1.5rem, 5vw, 1.7rem);
		text-align: left;
		line-height: 1.1;
		@include respond(tab-land) {
			text-align: left;
		}
	}
	&--processListItemHeading {
		color: $cf-dark-shamrockGreen;
		font-size: clamp(1.5rem, 5vw, 1.7rem);
		text-align: center;
		line-height: 1.1;
		@include respond(tab-land) {
			text-align: justify;
		}
	}
	&--footerFigure {
		color: $cp-dark-blue;
		font-family: "Montserrat", sans-serif; 
		font-size: clamp(1.8rem, 5vw, 2.4rem);
		font-weight: 900;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		line-height: 1.2;
		@include respond(tab-land) {
			text-align: justify;
		}
	}
}
.headingH4 {
	color: $cf-richBlack;
	font-family: "Lato", sans-serif; 
	font-size: clamp(1.8rem, 6vw, 2rem);
	font-weight: 900;
	line-height: 1.2;
	letter-spacing: 3px;
	&--aboutOwner {
		color: $cf-shamrockGreen;
		font-size: clamp(1.4rem, 6vw, 1.6rem);
		font-weight: 700;
		letter-spacing: 1px;
	}
	&--serviceAreasHeading {
		color: $cf-dark-shamrockGreen;
		font-size: clamp(1.5rem, 5vw, 1.7rem);
		text-align: left;
		line-height: 1.1;
		@include respond(tab-land) {
			text-align: justify;
		}
	}
}
.paragraph {
	line-height: 1.6;
	&--servicesListItemParagraph {
		text-align: left;
		line-height: 1.2;
		@include respond(tab-land) {
			text-align: justify;
		}
	}
	&--serviceAreaName {
		text-align: left;
		@include respond(tab-land) {
			text-align: justify;
		}
	}
	&__serviceAreaName--nylstroom, &__serviceAreaName--warmbad, &__serviceAreaName--vaalwater, &__serviceAreaName--naboom, &__serviceAreaName--leeupoort {
		color: $cp-richBlack;
		font-weight: 900;
	} 
	&--contactArticle {
		color: $cf-dark-blue;
		font-weight: 700;
		text-decoration: underline;
		text-underline-offset: 2px;
	}
	&--address {
		font-weight: 700;
	}
	&--footerAddress {
		font-size: clamp(1.6rem, 5.2vw, 2rem);
		font-weight: 700;
		line-height: 1.1;
		@include respond(tab-land) {
			margin-left: .7rem;
		}
	}
	&--footerAddressDetail {
		color: $cf-dark-blue;
		text-decoration: underline;
		text-underline-offset: 3px;
		@include respond(tab-land) {
			text-align: left;
		}
	}
	&--footerCopyright {
		font-size: clamp(1.2rem, 5vw, 2rem);
	}
	&--footerDeveloper {
		color: $cf-dark-blue;
		font-weight: 700;
		font-size: clamp(1.2rem, 4.3vw, 1.4rem);
	}
}
.btn {
	&--primary {
		color: $cf-silver;
		font-family: "Lato", sans-serif; 
		font-size: clamp(1.6rem, 5vw, 1.8rem);
		font-weight: 500;
		letter-spacing: 1px;
	}
	&--secondary {
		color: $cf-dark-blue;
		font-family: "Lato", sans-serif; 
		font-size: clamp(1.6rem, 5vw, 1.8rem);
		font-weight: 700;
	}
}
.navLink--hamburgerMenuNavlink {
	color: $cf-dark-blue;
	font-weight: 700;
}
.navlink {
	&--footerNavlink, &__hamburgerMenuNavlink {
		color: $cf-dark-blue;
		font-weight: 700;
		text-decoration: underline;
		text-underline-offset: 3px;
	}
	&--footerNavlinkDev {
		color: $cf-neonBlue;
		font-weight: 700;
		text-decoration: underline;
		text-underline-offset: 3px;
		line-height: 1;
	}
}
.logo {
	&__text {
		color: $cf-silver;
		font-family: "Lato", sans-serif; 
		font-size: clamp(1.4rem, 4.5vw, 1.6rem);
		font-weight: 700;
		text-align: left;
		line-height: 1.1;
		@include respond(tab-land) {
			text-align: justify;
		}
	}
}
.contact {
	font-style: normal;
}

.footer {
	color: $cf-dark-blue;
	&__footerAddressContainer {
		color: $cf-dark-blue;
		font-style: normal;
		line-height: 1.2;
	}
}